<footer class="site-footer h-card">
    <data class="u-url" href="{{ " /" | relative_url }}"></data>

    <div class="wrapper">
        <div class="footer-col-wrapper" style="text-align: center;">
            <p style="margin-bottom: 0.5rem;">
                {{ site.author }} - {{ site.description }} |
                <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
            </p>
            <p style="margin-top: 0;">
                <a href="https://www.linkedin.com/in/valeriikorobeinikov/" target="_blank">LinkedIn</a> |
                <a href="https://github.com/vkgeorgia" target="_blank">GitHub</a> |
                <a href="https://calendar.app.google/YwmXZytfSQ2qWX4Z7" target="_blank">Schedule a Meeting</a>
            </p>
        </div>
    </div>
</footer>