---
---
@import "minima";

/* Custom styles - wider page width */
.wrapper {
    max-width: 1024px !important;
    padding-right: 30px;
    padding-left: 30px;
}

/* Custom styles - smaller headings */
h1 {
    font-size: 1.44rem !important;
    line-height: 1.3 !important;
}

.post-title,
.page-heading {
    font-size: 1.44rem !important;
    line-height: 1.3 !important;
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 1.2rem !important;
    }

    .post-title,
    .page-heading {
        font-size: 1.2rem !important;
    }
}